<h1>Assignments</h1>

<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "一覧") %>
  </div>
  <div class="card-body mx-3">
    <div class="row py-2">
      <div class="col-3 my-auto">授業科目</div>
      <div class="col-3 my-auto">TA</div>
      <div class="col-4 my-auto">備考</div>
      <div class="col-2 d-flex justify-content-end">
        <%= link_to icon_with_text("plus-circle", "TAを追加"),
              new_assignment_path(course_id: @course),
              class: "btn btn-outline-primary",
              data: { turbo_frame: "new_assignment" }
        %>
      </div>
    </div>
    <%= turbo_frame_tag "new_assignment" %>
    <%= render @assignments %>
  </div>
</div>
