<h1>Editing work hour</h1>

<%= render "form", work_hour: @work_hour %>

<br>

<div>
  <%= link_to "Show this work hour", @work_hour %> |
  <%= link_to "Back to work hours", work_hours_path %>
</div>
