<div class="d-flex flex-column flex-shrink-0 py-3 px-3 bg-dark text-white vh-100">
  <div class="d-flex align-items-center justify-content-center py-2">
    <%= link_to "tama", root_path, class: "text-white display-6 text-decoration-none" %>
  </div>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= sidebar_link_to(courses_path, "ðŸ“–", "è¬›ç¾©") %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to(teaching_assistants_path, "ðŸ™", "TA") %>
    </li>
  </ul>
</div>
