<h1>Editing teaching assistant</h1>

<%= render "form", teaching_assistant: @teaching_assistant %>

<br>

<div>
  <%= link_to "Show this teaching assistant", @teaching_assistant %> |
  <%= link_to "Back to teaching assistants", teaching_assistants_path %>
</div>
